{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ session.dateDebut ? session.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ session.dateFin ? session.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ session.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_session_index') }}">Retourner à la liste</a>

    <a href="{{ path('app_session_edit', {'id': session.id}) }}">modifier</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
