<footer class="py-3 sticky-bottom">
<ul class="nav justify-content-center border-bottom pb-3 mb-3">
 <li class="nav-item"><a href={{ url('app_organisme_index') }} class="nav-link px-2">Organisme</a></li>
<li class="nav-item"><a href={{ url('app_formation_index') }} class="nav-link px-2">Formation</a></li>  
 <li class="nav-item"><a href={{ url('app_salle_index') }} class="nav-link px-2">Salle</a></li>
<li class="nav-item"><a href={{ url('app_candidat_index') }} class="nav-link px-2">Candidat</a></li> 
 <li class="nav-item"><a href={{ url('app_formateur_index') }} class="nav-link px-2">Formateur</a></li>
<li class="nav-item"><a href={{ url('app_promotion_index') }} class="nav-link px-2">Promotion</a></li>
 <li class="nav-item"><a href={{ url('app_session_index') }} class="nav-link px-2">Session</a></li> 
</ul>
<p class="text-center">© 2022 , Lucie Santer</p>
</footer>